{% extends 'base.html.twig' %}

{% block title %}Liste des succes{% endblock %}

{% block body %}
    <h1>Liste des succes</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom du succes</th>
                <th>Logo</th>
                <th>Niveau du succes</th>
                <th>Créer le</th>
                <th>Créer par</th>
                <th>Mis à jour le</th>
                <th>Mis à jour par</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for success in successes %}
            <tr>
                
                <td>{{ success.successName }}</td>
                <td>{{ success.logo }}</td>
                <td>{{ success.successLevel }}</td>
                <td>{{ success.createdAt ? success.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ success.createdBy }}</td>
                <td>{{ success.updatedAt ? success.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ success.updatedBy }}</td>
                <td>
                    <a href="{{ path('success_show', {'id': success.id}) }}">show</a>
                    <a href="{{ path('success_edit', {'id': success.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun succes trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('success_new') }}">Nouveau</a>
{% endblock %}
