{% extends 'base.html.twig' %}

{% block title %}Succes{% endblock %}

{% block body %}
    <h1>Succes</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom du suuces</th>
                <td>{{ success.successName }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ success.logo }}</td>
            </tr>
            <tr>
                <th>Niveau du succes</th>
                <td>{{ success.successLevel }}</td>
            </tr>
            <tr>
                <th>Créer le</th>
                <td>{{ success.createdAt ? success.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Créer par</th>
                <td>{{ success.createdBy }}</td>
            </tr>
            <tr>
                <th>Mis à jour le</th>
                <td>{{ success.updatedAt ? success.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mis à jour par</th>
                <td>{{ success.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('success_index') }}">Retour à la liste</a>

    <a href="{{ path('success_edit', {'id': success.id}) }}">Editer</a>

    {{ include('success/_delete_form.html.twig') }}
{% endblock %}
