{% extends 'base.html.twig' %}

{% block title %}Liste des items{% endblock %}

{% block body %}
    <h1>Liste des items</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom de l'item</th>
                <th>Position</th>
                <th>Description</th>
                <th>Niveau de difficulté</th>
                <th>Créer le</th>
                <th>Créer par</th>
                <th>Mis à jour le</th>
                <th>Mis à jour par</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.itemName }}</td>
                <td>{{ item.itemPosition ? item.itemPosition|json_encode : '' }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.itemLevel }}</td>
                <td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ item.createdBy }}</td>
                <td>{{ item.updatedAt ? item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ item.updatedBy }}</td>
                <td>
                    <a href="{{ path('item_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('item_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun item trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('item_new') }}">Nouveau</a>
{% endblock %}
