{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
    <h1>Item</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom de l'item</th>
                <td>{{ item.itemName }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ item.itemPosition ? item.itemPosition|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>Niveau de difficulté</th>
                <td>{{ item.itemLevel }}</td>
            </tr>
            <tr>
                <th>Créer le</th>
                <td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Créer par</th>
                <td>{{ item.createdBy }}</td>
            </tr>
            <tr>
                <th>Mis à jour le</th>
                <td>{{ item.updatedAt ? item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mis à jour par</th>
                <td>{{ item.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('item_index') }}">Retour à la liste</a>

    <a href="{{ path('item_edit', {'id': item.id}) }}">Editer</a>

    {{ include('item/_delete_form.html.twig') }}
{% endblock %}
